@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* ~~~~~~~~~~~~~ Reset styles ~~~~~~~~~~~~ */

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h2,
p,
hr {
	margin: 1rem 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
/* img {
	display: block;
	width: 100%;
} */

/* ~~~~~~~~~~~~~ Variables styles ~~~~~~~~~~~~ */

:root {
	--clr-primary-Softblue: hsl(215, 51%, 70%);
	--clr-primary-Cyan: hsl(178, 100%, 50%);

	--clr-bg-VeryDarkBlue: hsl(217, 54%, 11%);
	--clr-card-VeryDarkBlue: hsl(216, 50%, 16%);
	--clr-line-VeryDarkBlue: hsl(215, 32%, 27%);
	--clr-White: hsl(0, 0%, 100%);

	--fts-body: 1.125rem;
	--ftw-300: 300;
	--ftw-400: 400;
	--ftw-600: 600;
	--transition: all ease-in-out 400ms;
}

/* ~~~~~~~~~~~~~ Utilities styles ~~~~~~~~~~~~ */
.flex {
	display: flex;
}

/* ~~~~~~~~~~~~~ General styles ~~~~~~~~~~~~ */

body {
	font-family: 'Outfit', sans-serif;
	font-size: var(--fts-body);
	font-weight: var(--ftw-400);
	min-height: calc(100vh - 1px);
	display: -ms-grid;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-bg-VeryDarkBlue);
	color: var(--clr-primary-Softblue);
}
h2 {
	font-weight: var(--ftw-600);
}
h2,
span {
	color: var(--clr-White);
}
a {
	text-decoration: none;
	color: inherit;
}

/* ~~~~~~~~~~~~~ Card styles ~~~~~~~~~~~~ */
.card {
	width: 30ch;
	padding: 1.25rem;
	background-color: var(--clr-card-VeryDarkBlue);
	border-radius: 1rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.card figure {
	border-radius: 1.2rem;
	overflow: hidden;
	background-color: var(--clr-primary-Cyan);
	position: relative;
	transition: var(--transition);
}
.card figure::after {
	content: '';
	display: block;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../images/icon-view.svg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: var(--transition);
}
.card figure:hover::after {
	opacity: 1;
}
.card figure img {
	display: block;
	width: 100%;
	transition: var(--transition);
}
.card figure:hover img {
	opacity: 0.5;
	cursor: pointer;
}
.card a:hover,
.card a:focus {
	color: var(--clr-primary-Cyan);
}

.details.flex {
	justify-content: space-between;
}
.details strong {
	color: var(--clr-primary-Cyan);
}
.container.flex {
	align-items: center;
	gap: 0.5rem;
}
.card hr {
	height: 1px;
	background-color: var(--clr-line-VeryDarkBlue);
	border: none;
}
.credit img {
    display: block;
	width: 15%;
	height: 15%;
	border: 2px solid var(--clr-White);
	border-radius: 50%;
	margin-right: 1rem;
}
.credit p {
	font-weight: var(--ftw-300);
}
.card a,
.credit a {
	transition: all ease-in-out 400ms;
}
.card a:hover,
.card a:focus,
.credit a:hover,
.credit a:focus {
	color: var(--clr-primary-Cyan);
}
